
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   General
   ========================================================================== */
body {
    padding-top: 3.7rem;
}

.aboutjt {
  background-image: url(/img/about_me_hero_1600x500.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em ;
}

.inverse-text {
  background-color:rgb(0,0,0);opacity:0.6;
  padding: .1em .5em;
}

#about-me-carousel {
  margin-bottom: 4rem;
}

